<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Subscribe</title>
</head>
<body>
    <form action="{{ url_for('subscribe') }}" method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
    </form>
    <a href="{{ url_for('subscribers') }}" class="btn btn-primary">View Subscribers</a>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>

</body>
</html>
